.setup-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  font-family: var(--mono);
  font-size: small;
}

.category-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 120px;
}

.category-header {
  background-color: rgb(166, 197, 210);
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-family: var(--mono);
  font-size: small;
  text-align: center;
}

.question-card {
  background-color: rgb(220, 220, 220);
  padding: 20px;
  border-radius: 10px;
}
