@import "tailwindcss";
@import "@fontsource/geist-mono/400.css";
@font-face {
  font-family: "Offbit Trail";
  src:
    url("/fonts/OffBit-Bold.woff2") format("woff2"),
    url("/fonts/OffBit-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-mono: "Geist Mono", ui-monospace, Consolas, monospace;
  --font-offbit: "Offbit Trail", "Geist Mono", ui-monospace, monospace;
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --heading: "Offbit Trail", system-ui, Roboto, sans-serif;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  /*letter-spacing: 2px;*/
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: 1px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}
