@import "tailwindcss";
@import "@fontsource/geist-mono/400.css";
@font-face {
  font-family: "Offbit Trail";
  src:
    url("https://0avbe8driu0w6yak.public.blob.vercel-storage.com/OffBit-Bold.woff2")
      format("woff2"),
    url("https://0avbe8driu0w6yak.public.blob.vercel-storage.com/OffBit-Bold.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-mono: "Geist Mono", ui-monospace, Consolas, monospace;
  --font-offbit: "Offbit Trail", "Geist Mono", ui-monospace, monospace;
}

:root {
  --text: var(--text-h);
  --text-h: #08060d;
  --bg: #fff;
  --heading: "Offbit Trail", system-ui, Roboto, sans-serif;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  --category-header-text: #303030;
  --category-1: #a6c5d2;
  --category-2: #a5bd96;
  --category-3: #dcac8e;
  --category-4: #f0d89d;
  --category-5: #ecb9c6;
  --correct: #6cab70;
  --incorrect: #cf4a69;
  --correct-text: #b3daa9;
  --correct-label: #b3daa9;
  --incorrect-text: #e8a7b6;
  --incorrect-label: #e8a7b6;
  --tile-unplayed-bg: #dedede;
  --tile-played-bg: #eeeeee;
  --tile-unplayed-text: #3f3f3f;
  --tile-played-text: #bbb6b6;
  --label-text: #9ca3af;
  --placeholder-text: #7b7b7b;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-variant-ligatures: none;
    font-kerning: none;
  }
  h1,
  h2 {
    font-family: var(--heading);
    color: var(--text-h);
  }
  h1 {
    font-size: 56px;
    /*letter-spacing: 2px;*/
    margin: 32px 0;
    @media (max-width: 1024px) {
      font-size: 36px;
      margin: 20px 0;
    }
  }
  h2 {
    font-size: 24px;
    line-height: 118%;
    letter-spacing: 1px;
    margin: 0 0 8px;
    @media (max-width: 1024px) {
      font-size: 20px;
    }
  }
  p {
    margin: 0;
  }
  .uppercase {
    letter-spacing: 0.08em;
  }
}
